$bgColor = #086

// tft order 每行的beijing颜色

$status0 = #fff // 未知
$status1 = #fff // （停机）待生产签核
$status2 = #fff // （停机）待责任工程签核
$status3 = #fff // （停机）拒签
$status4 = #fff // （停机）完成
$status5 = #fff // （复机）待QC签核
$status6 = #fff // （复机）待生产签核
$status7 = #fff // （复机）拒签
$status8 = #fff // （部分复机）完成
$status9 = #fff // （复机）完成
